{#<!DOCTYPE html>#}
{#{% load static %}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{##}
{#    <!----======== CSS ======== -->#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">#}
{##}
{#    <!----===== Boxicons CSS ===== -->#}
{#    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>#}
{#    <title>Dragger</title>#}
{#    <style>#}
{#        #options a{#}
{#            text-decoration: none;#}
{#            color: #635f5f;#}
{#        }#}
{#        #options a:hover{#}
{#            color: #878987;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body class="jumbotron" style="padding: 0">#}
{#    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background: #000000; height: 60px">#}
{#    <div class="container-fluid">#}
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="#" style="color: #30a5ff"><span>DRAGGER</span></a>#}
{#        </div>#}
{#    </div><!-- /.container-fluid -->#}
{#    </nav>#}
{#    <div class="container">#}
{#        <div class="row" style="margin-top: 10%">#}
{#            <div class="col-sm-3"></div>#}
{#            <div class="col-sm-7">#}
{#                <h3 style="font-weight: bold; font-family: Arial;">What kind of website are you creating?</h3>#}
{#                <input type="text" value="" required style="height: 50px; width: 380px; background: #e9ecef; border: none; outline: none; border-bottom: 2px solid black" placeholder="Search">#}
{#                <br>#}
{#                <div style="display: inline-block;margin-top: 2%" id="options">#}
{#                    <small style="opacity: 0.5">templates Example</small>#}
{#                    <br>#}
{#                    <a href="#" style="margin-bottom: 2%; margin-top: 3%">Art and design</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">Technology</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">Food</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">Fashion and beauty</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">Sports</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">Educational</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">E-commerce</a><br>#}
{#                    <a href="#" style="margin-bottom: 2%;">Blog</a><br>#}
{#                    <a href="{% url 'userInfo' %}"><button class="btn btn-mid" style="float: right; background: #c4c4c4; border-radius: 100px; position: absolute; left:320px">Next</button></a>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="col-sm-2"></div>#}
{#        </div>#}
{#    </div>#}
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
{##}
{#</body>#}
{#</html>#}